
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@model PagedList.IPagedList<WebISB.Models.FN_Get_TinTuc_TC_Result>
@using PagedList.Mvc

<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#337AB7; color:white;">
        <h3 style="margin-top:0px; margin-bottom:0px;"> Tin Tức</h3>
    </div>

    <div class="panel-body">
        @foreach (var item in Model)
        {
            <!-- item -->
            <div class="row-item row">
                <h3>
                    <a href="#">@item.TenTL</a> |
                    <small><a href="loaitin.html"><i>@item.TenLT</i></a></small> |
                    <small><i>Lượt xem: <span class="glyphicon glyphicon-eye-open"></span> @item.SoLuotXem</i></small>
                </h3>
                <div class="col-md-12 border-right" style="padding-top:2px">
                    <div class="col-md-3">
                        <a href="@Url.Action("Detail", "ChiTiet",new { id = item.id } )">
                            @if (item.ImagePath == "" || item.ImagePath == null || item.ImagePath == "noimage.png")
                            {
                                <img class="img-responsive" src="~/Image/Tintuc/320x150.png" alt="">
                            }
                            else
                            {
                                <img class="img-responsive" src="~/Image/Tintuc/@item.ImagePath" alt="">
                            }

                        </a>
                    </div>
                    <div class="col-md-9">
                        <h3>@item.TieuDe</h3>
                        <p>@item.TomTat</p>
                        <a class="btn btn-primary" href="@Url.Action("Detail", "ChiTiet",new { id = item.id })">Xem chi tiết <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>

                <div class="break"></div>
            </div>
            <!-- end item -->
        }
        <div style="padding-left:5%">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pagesize = Model.PageSize }))
            Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount News
        </div>
    </div>
    
        
</div>


