@model IEnumerable<WebISB.Models.F_Get_Side_Menu_Result>

@if ((int)ViewBag.Count > 0)
{
    <ul>
        @foreach (var item in Model)
        {
        <li class="list-group-item">
            @if(ViewBag.Loai == "TL")
            {
                <a href="@Url.Action("TinTuc","TinTucTC",new { loai = "TL",id = @item.id})">@item.Ten</a>
            }else if(ViewBag.Loai == "LT")
            {
                <a href="@Url.Action("TinTuc","TinTucTC",new { loai = "LT",id = @item.id})">@item.Ten</a>
            }
            
        </li>
        }
    </ul>
}